{{ #output: /etc/electrs/electrs.conf }}
network = {{            electrs:network         #default: bitcoin }}"
db_dir = "{{            electrs:db_dir          #default: /mnt/ssd/electrs/db }}"
daemon_dir = "{{        electrs:daemon_dir      #default: /mnt/ssd/bitcoin/.bitcoin }}"
cookie="{{              bitcoind:rpcuser        #default: base }}:{{ bitcoind:rpcpassword #rmLine }}"
electrum_rpc_addr = "{{ electrs:http_addr       #default: 127.0.0.1:50001 }}"
daemon_rpc_addr = "{{   bitcoind:rpcconnect     #default: 127.0.0.1 }}:{{ bitcoind:rpcport #default: 8332 }}"
monitoring_addr = "{{   electrs:monitoring_addr #default: 127.0.0.1:4224 }}"
txid-limit = {{         electrs:txid_limit      #default: 1000 }}
verbosity = {{          electrs:verbosity       #default: 3 }}
